<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{estilos/PPI.css}"/>
</head>
<body>
	
</body>
</html>