*{
	margin:0;
  padding:0;
 box-sizing:border-box;
}
h1 {
    margin-left: 350px;
}
body{
	background-image:url(../img/fondoppi.png);
}
#Cabecera{	
	background-image:url(../img/cabecerappi.png);
	width:910px;
	height:139px;
	margin-left:210px;
}
#Seccion{
	background-image:url(../img/fondoSectionB.png);
	width:910px;
	height:303px;
	margin-left:210px;
}
#Seccion2{
	background-image:url(../img/fondoSection.png);
	width:910px;
	height:340px;
	margin-left:210px;
}
#botones{
	background-image: url(../img/sectionPieBienvenido.png);
	margin-left:210px;
	width: 762px;
	height: 139px;
	float:left;
}
.navegacion ul{
	list-style:none;
	}
.menu > li{
	position: relative;
	display:inline-block;
	width:140px;
	margin-left:80px;
	}
#clasificados{margin-left:150px;}
.menu > li a{
	
	position:relative;bottom:12px;
	display:block;
	padding:15px 20px;
	color:#000;
	font-family:"Comic Sans MS", cursive;
	font-size:24px;
	text-decoration:none;
	}
.menu li a:hover{
	color:#9C9;
	transition: all .3s;
}
.submenu{
	position:absolute;
	width:100%;
	margin-left:100px;
	background:#0b3b08;
	margin-left:15px;
	visibility:hidden;
	opacity:0;
	transition:opacity 1.5s;
	}
.submenu li a{
	display:block;
	padding:15px;
	color:#FFF;
	font-family:"Comic Sans MS", cursive;
	text-decoration:none;
}
.menu li:hover .submenu{
	visibility:visible;
	opacity:1;
}
#logo{
	background-image:url(../img/sectionPieBienvenido2.png);
	float:left;
	width:148px;
	height:139px;
}
img{position:relative; bottom:10px;left:5px;}
#loginlabel2{
	position:relative;
	top:62px;
	left:365px;
    width:500px;
    color:black;
    font-size: 24px;
	}
#loginlabel2 font {
    font-size: 30px;
    color: black;
}
#loginlabel{
	position:relative;
	top:60px;
	left:140px; 
    width:500px;
	}
.contenedorPrincipal {
    width: 1000px;
    height: 400px;
}


.contenedorTexto {
    font-size: 25px;
    margin-left: 35px;
    margin-top: 15px;
    border-bottom: black;
    width: 220px;
    float: left;
    height: 20px;
}
.contenedorColor {
    background-color: black;
    font-size: 25px;
    margin-top: 20px;
    border-bottom: black;
    float: left;
    width: 25px;
    height: 20px;
    margin-left: 5px;
}
.titulo {
          font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    border-bottom: black;
    width: 220px;
    float: left;
    height: 20px;
    margin-bottom: 12px;

}