body{
	background-image:url(../img/fondoppi.png);
}
seccion{
	margin-left:207px;
	}
#Cabecera{	
	background-image:url(../img/cabecerappi.png);
	width:910px;
	height:139px;
	margin-left:210px;
}
#Seccion{
	background-image:url(../img/fondoSection2.png);
	width:910px;
	height:345px;
	margin-left:210px;
}
#Seccion2{
	background-image:url(../img/fondoSection.png);
	width:910px;
	height:360px;
	margin-left:210px;
	margin-top:-15px;
}
#inputsection{
	float:left;
	width:610px;
	height:345px;
}
#botones{
	background-image: url(../img/sectionPie.png);
	margin-left:210px;
	width: 910px;
	height: 97px;
	clear: both;
}
#botones2{
	background-image:url(../img/sectionPie2.png);
	margin-left:210px;
	width: 910px;
	height: 97px;
	clear: both;
	position:relative;
}
#registrarse{
	background-image:url(../img/RegistrarseNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:80px;
	width:201px;
	height:65px;
}
#registrarse:hover{
	background-image:url(../img/RegistrarseFoco.png);	
}
#registrarse:active{
	background-image:url(../img/RegistrarseClick.png);
	transform:scale(1.05);
}
#registrarse:focus{
	outline:0px;
}

#registrarse2{
	background-image:url(../img/RegistrarseNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:150px;
	width:201px;
	height:65px;
}
#registrarse2:hover{
	background-image:url(../img/RegistrarseFoco.png);	
}
#registrarse2:active{
	background-image:url(../img/RegistrarseClick.png);
	transform:scale(1.05);
}
#registrarse2:focus{
	outline:0px;
}
#ingresar{
	background-image:url(../img/IngresarNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:220px;
	width:201px;
	height:65px;
}
#ingresar:hover{
	background-image:url(../img/IngresarFoco.png);	
}
#ingresar:active{
	background-image:url(../img/IngresarClick.png);
	transform:scale(1.05);
}
#ingresar:focus{
	outline:0px;
}
#login{
	background-image:url(../img/loginNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:190px;
	width:201px;
	height:65px;
}
#login:hover{
	background-image:url(../img/loginFoco.png);	
}
#login:active{
	background-image:url(../img/loginClick.png);
	transform:scale(1.05);
}
#registrarLink{
	position: absolute;
	top:505px;
	left:600px;
}
#login:focus{
	outline:0px;
}
#loginlabel{
	position:relative;top:-44px;left:50px;
	width:201px;
	height:65px;
	}
label{
	margin-left:70px;
	}
#lcorreo{margin-left:72px}

#lnumDoc{margin-left:72px}
#email{margin-left:40px}
#numCel{margin-left:25px}
#contraseñal{position:relative; top:235px;left:301px;padding-top:5px;width:178px;}
#nombre{margin-left:92px}
#nombrel{position:relative; top:105px;left:114px;padding-top:5px;width:178px;}
#apellido{margin-left:96px}
p{height:55px;}
#conf{width:500px;float:left;}
figure{width:300px;
height:100px;
margin-left:550px;
margin-top:20;
}

input[type=email]{
  -webkit-appearance: none;
  border: 1px solid #033;
  margin: 0;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img{position:relative; top:0px;left:25px;}
#imagen{position:relative; top:35px;left:95px;}

/* Estos son los estilos para nuestros campos inválidos */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}
#lista2{position:relative; top:80px;left:-25px;}

input:focus:invalid {
  outline: none;
}
#logo{width:300px; height:345px; float:left;}

/* Estos son los estilos para nuestros mensajes de error */
.error {
  width  : 100%;
  padding: 0;
 
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}