@charset "utf-8";
/* CSS Document */
*{
	margin:0;
  padding:0;
 box-sizing:border-box;
}
body{
	background-image:url(../img/fondoppi.png);
}
#Cabecera{	
	background-image:url(../img/cabecerappi.png);
	width:910px;
	height:139px;
	margin-left:210px;
}
label#label8 {
    margin-left: 200px;
}
#Seccion{
	background-image:url(../img/sectionreg.png);
	width:639px;
	height:345px;
	margin-left:210px;
	float:left;
}
#Seccion2{
	background-image:url(../img/sectionreg2.png);
	width:271px;
	height:345px;
	float:left;
	}
#Seccion2 > label,input{
	margin-left:40px;
	}
#botones{
	background-image: url(../img/boton5.png);
	margin-left:210px;
	width: 910px;
	height: 97px;
	float:left;
}
#registrar{
	background-image:url(../img/registrarFoco.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:70px;
	width:201px;
	height:65px;
}
#registrar:hover{
	background-image:url(../img/registrarNormal.png);	
}
#registrar:active{
	background-image:url(../img/RegistrarClick.png);
	transform:scale(1.05);
}
#registrar:focus{
	outline:0px;
}
#Visualizar{
	background-image:url(../img/visualizarNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:300px;
	width:201px;
	height:65px;
}
#Visualizar:hover{
	background-image:url(../img/VisualizarFoco.png);	
}
#Visualizar:active{
	background-image:url(../img/VisualizarClick.png);
	transform:scale(1.05);
}
#Visualizar:focus{
	outline:0px;
}
#contrasenial{position:relative; bottom:20px;left:125px;width:178px;}
textarea {
  resize: none;
  height:345px;
  margin-left:20px;
}
#tecnologia{width:135px;}

