body{
	background-image:url(../imagenes/RiterFondo2.png);
	}
seccion{
	margin-left:207px;
	}

#Cabecera{	
	background-image:url(../imagenes/cabecera2.png);
	width:910px;
	height:139px;
	margin-left:210px;
	
}
#Seccion{
	background-image:url(../imagenes/SectionSection2.png);
	width:910px;
	height:346px;
	margin-left:210px;
}
#panel{
	width:607px;
	height:349px;
	margin-left:20px;
}
#panelI{
	width:268px;
	height:349px;
	margin-left:629px;
}
#areaTexto{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	color:#000;
	width:594px;
	height:340px;
	resize: none;
	opacity: 0.5;
	margin-left:20px;
	float:left;
	
}
#botones{
	background-image: url(../imagenes/section_fondo2.png);
	margin-left:210px;
	width: 910px;
	height: 97px;
	clear: both;
}
#leerEs{
	/*background-image:url(../imagenes/boton_leer_normal.png);*/
	border: 0px solid;
	background-color: transparent;
	width:96px;
	height:45px;
	margin-left:120px;
	margin-top:20px;
}
/*#leerEs:hover{
	background-image:url(../imagenes/boton_leer_rollover.png);
}
#leerEs:active{
	background-image:url(../imagenes/boton_leer_click.png);
	transform:scale(1.05);
}*/
#leerEs:focus{
	outline:0px;
}
#ingresar{
	/*background-image:url(../imagenes/boton_Imul_normal.png);*/
	border: 0px solid;
	background-color: transparent;
	margin-left:36px;
	width:167px;
	height:45px;
}
/*#ingresar:hover{
	background-image:url(../imagenes/boton_Imul_rollover.png);	
}
#ingresar:active{
	background-image:url(../imagenes/boton_Imul_click.png);
	transform:scale(1.05);
}*/
#ingresar:focus{
	outline:0px;
}
#triangulo{
	/*background-image:url(../imagenes/boton_triangulo_normal.png);*/
	border: 0px solid;
	background-color: transparent;
	margin-left:125px;
	width:42px;
	height:47px;
}
/*#triangulo:hover{
	background-image:url(../imagenes/boton_triangulo_rollover.png);
}
#triangulo:active{
	background-image:url(../imagenes/boton_triangulo_click.png);
	transform:scale(1.05);
}*/
#triangulo:focus{
	outline:0px;
}
#guardar{
	/*background-image:url(../imagenes/boton_guardar_normal.png);*/
	border: 0px solid;
	background-color: transparent;
	margin-left:90px;
	width:130px;
	height:45px;
}
/*#guardar:hover{
	background-image:url(../imagenes/boton_guardar_rollover.png);
}
#guardar:active{
	background-image:url(../imagenes/boton_guardar_click.png);
	transform:scale(1.05);
}*/
#guardar:focus{
	outline:0px;
}
