@charset "utf-8";
/* CSS Document */
*{
	margin:0;
  padding:0;
 box-sizing:border-box;
}
body{
	background-image:url(../img/fondoppi.png);
}
.Cabecera{	
	background-image:url(../img/cabeceraVizualizar.png);
	position:relative;top:30px;
	width:671px;
	height:132px;
	margin-left:285px;
	float:left;
}
.Cabecera div{
	width:335px;
	height:132px;
	float:left;
	}
textarea{
	width:690px;
	height:357px;
	margin-left:20px;
}
#label1{position:relative; left:20px; top:15px; font-weight: bold;}
#label2{position:relative; left:20px; top:30px; font-weight: bold;}
#label3{position:relative; left:20px; top:45px; font-weight: bold;}
#label4{position:relative; left:20px; top:10px;font-weight: bold;}
#label5{position:relative; left:20px; top:30px;font-weight: bold;}
#label6{position:relative; left:20px; top:45px;font-weight: bold;}
#label7{position:relative; left:20px; top:20px;font-weight: bold;}
#label8{position:relative; left:30px; top:20px;font-weight: bold;}
#label9{position:relative; left:40px; top:20px;font-weight: bold;}
.CabeceraColor{
	background-image:url(../img/cabeceraColores.png);
	position:relative;top:30px;
	width:58px;
	height:132px;
	float:left;
}
.CabeceraColor div{
	margin-top:9px;
	width:44px;
	height:30px;
}
#Seccion2{
	background-image:url(../img/VisualizarBuche.png);
	position:relative;top:30px;
	width:729px;
	height:357px;
	clear:both;
	margin-left:285px;
}
#botenes{
	background-image:url(../img/VisualizarBuche2.png);
	position:relative;top:30px;
	width:729px;
	height:70px;
	margin-left:285px;
}