@charset "utf-8";
/* CSS Document */
*{
	margin:0;
  padding:0;
 box-sizing:border-box;
}
body{
	background-image:url(../img/fondoppi.png);
}
#Cabecera{	
	background-image:url(../img/cabecerappi.png);
	width:910px;
	height:139px;
	margin-left:210px;
}
#Seccion{
	background-image:url(../img/Marko.png);
	width:615px;
	height:342px;
	margin-left:215px;
	float:left;
}
#Seccion2{
	background-image:url(../img/lateral.png);
	width:291px;
	height:345px;
	margin-left:-2px;
	float:left;
	}
.clasif{
	background-image:url(../img/clasif.png);
	width:59px;
	height:89px;
	margin-left:15px;
	float:left;
	}
.clasif:hover{
	background-image:url(../img/clasifroll.png);
}

.cuadros{
	width:12px;
	height:12px;
	margin-top:5px;
	margin-left:3px;
	float:left;
	}
.colores{
	background-image:url(../img/clasifcol.png);
	width:20px;
	height:89px;
	float:left;
	}
#imagen1{
	float:left;
}
.guia{
	margin-left:3px;
	margin-top:35px;
	width:12px;
	height:12px;
}
#Seccion2 > label,input{
	margin-left:40px;
	}
#botones{
	background-image: url(../img/boton5.png);
	margin-left:210px;
	width: 910px;
	height: 97px;
	float:left;
}
#registrar{
	background-image:url(../img/registrarFoco.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:70px;
	width:201px;
	height:65px;
}
#registrar:hover{
	background-image:url(../img/registrarNormal.png);	
}
#registrar:active{
	background-image:url(../img/RegistrarClick.png);
	transform:scale(1.05);
}
#registrar:focus{
	outline:0px;
}
#filtrar{
	background-image:url(../img/filtrarNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:300px;
	width:201px;
	height:65px;
}

#filtrar:hover{
	background-image:url(../img/filtrarRoll.png);	
}
#filtrar:active{
	background-image:url(../img/filtrarClik.png);
	transform:scale(1.05);
}
#filtrar:focus{
	outline:0px;
}
#listar{
	background-image:url(../img/listarNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:70px;
	width:201px;
	height:65px;
}

#listar:hover{
	background-image:url(../img/listarfoco.png);	
}
#listar:active{
	background-image:url(../img/listarClick.png);
	transform:scale(1.05);
}
#listar:focus{
	outline:0px;
}
#Visualizar{
	background-image:url(../img/visualizarNormal.png);
	border: 0px solid;
	background-color: transparent;
	margin-top:12px;
	margin-left:300px;
	width:201px;
	height:65px;
}
#Visualizar:hover{
	background-image:url(../img/VisualizarFoco.png);	
}
#Visualizar:active{
	background-image:url(../img/VisualizarClick.png);
	transform:scale(1.05);
}
#Visualizar:focus{
	outline:0px;
}
#contrasenial{position:relative; bottom:20px;left:125px;width:178px;}
textarea {
  resize: none;
  height:345px;
  margin-left:20px;
}
#tecnologia{width:135px;}
