<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{estilos/PPI.css}"/>
</head>

<body>

	<div>
		<header id="Cabecera"></header>
	</div>
	
	<form name="formulario" th:action="@{/guardarUsuario}" th:object="${usuario}" method="post">
		<div id="Seccion2">

			<p>
				<label for="n1" style="font-size: 25px">*Nombre:</label> <input
					type="text" id="nombre" spellcheck="false" autocomplete="off"
					pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" th:field="*{nombre}" required/> <label for="n1"
					style="font-size: 25px" id="lcorreo" th:field="*{email}">*Correo:</label> <input
					type="email" id="email" spellcheck="false" th:field="*{email}" required /> <span
					class="error" aria-live="polite"></span>
			</p>
			<p>
				<label for="n1" style="font-size: 25px">Apellido:</label> <input
					type="text" id="apellido" spellcheck="false"
					pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" th:field="*{apellido}"/> 
				
				<label for="n1"
					style="font-size: 25px" id="lnumDoc">Num Cel:</label> <input
					type="number" id="numCel" pattern="\d+" th:field="*{numCel}"/>
			</p>
			<p>
				<label for="n1" style="font-size: 25px">*Nombre Usuario:</label> <input
					type="text" id="nombreU" spellcheck="false" autocomplete="off"
					pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" th:field="*{nombreU}" required/>
				 <label for="n1"
					style="font-size: 25px">*Contraseña:</label> <input type="password"
					id="contraseña" th:field="*{pass}" pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" required/>

			</p>
			<p id="conf">
				<label for="n1" style="font-size: 25px">Confirmar Contra:</label> <input
					type="password" id="confirmarC" />
			</p>

			<figure>
				<img th:src="@{img/LLlogoUsuarioReg.png}" id="ima" />
			</figure>
		</div>
		<div id="botones2">
			<input type="submit" id="registrarse2" value="" class="boton" onclick="aviso()"/>
		</div>
	</form>
	<a id="registrarLink" th:href="@{/loggin}"><button id="login" class="boton"></button></a>
	
</body>
<script th:src="@{scripts/RegistrarUsuario.js}"></script>
</html>