<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{estilos/bienvenido.css}"/>
</head>

<body>
<div>
	<header id="Cabecera"></header>
</div>
<div id="Seccion">

	<nav class="navegacion">
		<ul class="menu">
			<li id="clasificados"><a>Clasificados</a>
				<ul class="submenu">
					<li><a th:href="@{/visualizar/registrar}">Registrar Clasificado</a></li>
					<li><a th:href="@{/verclass}">Visualizar</a></li>
				</ul>
			</li>
			<li><a th:href="@{/codigocolor}">Codigo_color</a></li>
			<li><a href="#">Ayuda</a></li>

		</ul>
	</nav>
</div>

<div id="botones">

	<a for="n1" style="font-size:35px;font:'Comic Sans MS', cursive" id="loginlabel">
		<font color="#FFFFFF"><u>Salir</u></font>
	</a>
	<label for="n1" style="font-size:24px;font:'Comic Sans MS', cursive;margin-top:10;" id="loginlabel2">
		<font color="#FFFFFF" style="font-size:24px;color=#000000;font:'Comic Sans MS', cursive;font-weight: bold;
								 font-size:24px;" th:text=${nombreU}>alkjf</font>
	</label>

</div>
<div id="logo">
	<img th:src="@{img/logo_admin.png}" id="imagen" />
</div>
</body>
<script th:src="@{scripts/bienvenido.js}"></script>
</html>
