<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{estilos/visualizar.css}"/>
</head>
<body>
	
<header id="Cabecera"></header>

<div id="Seccion">
<div th:each="codigo: ${codigos}" style="visibility: hidden" class="clasificadoIcon">
    <a th:href="@{/mostrar}+${codigo.id}">
    	<img class="clasif"/>
  	</a>
  	<div class="colores">
    		<div class="guia" th:style="|background-color: ${codigo.facultad}|" ></div>
    		<div class="cuadros" th:style="|background-color: ${codigo.tecnologia}|"></div>
    		<div class="cuadros" th:style="|background-color: ${codigo.asignatura}|"></div>
    </div>
  </div>
</div>
<form name="formulario">
<div id="Seccion2">
<br>

<label for="n1" style="font:'Comic Sans MS', cursive;font-size:18px;" ><font color="#000000">Facultad:</font></label><br>
<input type="checkbox"/>
<select name="tipo facultad" id="facultad">

      <option>Ciencias Sociales</option>
      <option>Administracion</option>
      <option>Ciencias Agrarias</option>
      <option>Ingenieria</option>
      <option>Audio Visual</option>

    </select>
    <br><br>
    <label for="n1" style="font:'Comic Sans MS', cursive;font-size:18px;" ><font color="#000000">Tecnologia:</font></label><br>
    <input type="checkbox"/>
    
    <select name="tecnologia" id="tecnologia">

      <optgroup label="Ciencias Sociales">
    	 <option>Quimica Industrial</option>
    </optgroup>

    </select>
    <br><br>
    <label for="n1" style="font:'Comic Sans MS', cursive;font-size:18px" ><font color="#000000">Asignatura:</font></label><br>
    <input type="checkbox"/>
    
    <select name="materia" id="asignatura">

      <option>Matematicas</option>
      <option>Lengua Materna</option>
      <option>Humanidades</option>
      <option>Calculo Integral</option>
      <option>Calculo Diferencial</option>
      <option>Deportes y Arte</option>
      <option>Geometria</option>

    </select>
    <br><br>
    <label for="n1" style="font-size:18px;'Comic Sans MS', cursive"><font color="#000000">Tiempo Limite:</font></label><br>
</div>

<div id = "botones">

 <a th:href="@{/bienvenido}" for="n1" style="font-size:35px;font:'Comic Sans MS', cursive;" id="contrasenial"><font color="#FFFFFF"><u>Menu</u></font></a>
  
    <input type="button" id="filtrar" class="boton"/>
    <input type="button" id="listar" class="boton" onclick="iterar()">
    
</div>
	
<div id="logo">

</div>
 </form>
</body>
<script type="text/javascript" th:src="@{scripts/verg.js}"></script>
</html>