<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{estilos/bienvenido.css}"/>
</head>

<body>
<div>
	<header id="Cabecera"></header>
</div>
<body>
	<div>
</div>
<div id="Seccion2">
	<h1>Codigo Colores</h1>
	<div class="contenedorPrincipal">
		<div class="titulo"><font>Asignatura:</font></div>
		<div class="titulo">Tecnologia:</div>
		<div class="titulo"><font>Facultad:</font></div>
		
		<div class="contenedorTexto" style="clear: both;"><font>Matematicas</font></div>
		<div class="contenedorColor" style="background-color: #FF0000;"></div>
		
		<div class="contenedorTexto"><font></font>Quimica Industrial</div>
		<div class="contenedorColor" style="background-color: #00FFFF;"></div>
		
		<div class="contenedorTexto"><font>Ciencias Sociales</font></div>
		<div class="contenedorColor" style="background-color: #008080;"></div>
		
		<div class="contenedorTexto"><font>Lengua Materna</font></div>
		<div class="contenedorColor" style="background-color: #000000;"></div>
		
		<div class="contenedorTexto"><font>Tecnologia Agraria</font></div>
		<div class="contenedorColor" style="background-color: #008000;"></div>
		
		<div class="contenedorTexto"><font>Administracion</font></div>
		<div class="contenedorColor" style="background-color: #0000FF;"></div>
		
		<div class="contenedorTexto"><font>Humanidades</font></div>
		<div class="contenedorColor" style="background-color: #808080;"></div>
		
		<div class="contenedorTexto"><font>Tecnologia Civil</font></div>
		<div class="contenedorColor" style="background-color: #00FF00;"></div>
		
		<div class="contenedorTexto" ><font>Ciencias Agrarias</font></div>
		<div class="contenedorColor" style="background-color: #000080;"></div>
		
		<div class="contenedorTexto"><font>Calculo Integral</font></div>
		<div class="contenedorColor" style="background-color: #C0C0C0;"></div>
		
		<div class="contenedorTexto"><font>Tecnologia T.I.T</font></div>
		<div class="contenedorColor" style="background-color: #808000"></div>
		
		<div class="contenedorTexto"><font>Ingenieria</font></div>
		<div class="contenedorColor"style="background-color: #FF00FF;"></div>
		
		<div class="contenedorTexto"><font>Calculo Diferencial</font></div>
		<div class="contenedorColor" style="background-color: #FFFFFF;"></div>
		
		<div class="contenedorTexto"><font>Tec. Informatica</font></div>
		<div class="contenedorColor" style="background-color: #FFFF00;"></div>
		
		<div class="contenedorTexto"><font>Audio Visual</font></div>
		<div class="contenedorColor" style="background-color: #800080;"></div>
	
		<div class="contenedorTexto"><font>Deportes y Arte</font></div>
		<div class="contenedorColor" style="background-color: #CD5C5C;"></div>
		
		<div class="contenedorTexto"><font>Tec. Audio Visual</font></div>
		<div class="contenedorColor" style="background-color: #800000;"></div>
	</div>
	
</div>

<div id="botones">

	<a for="n1" style="font-size:35px;font:'Comic Sans MS', cursive" id="loginlabel" th:href="@{/bienvenido}">
		<font color="#FFFFFF"><u>Menu</u></font>
	</a>
	<label for="n1" style="font-size:24px;font:'Comic Sans MS', cursive;margin-top:10;" id="loginlabel2">
		<font color="#FFFFFF" style="font-size:24px;color=#000000;font:'Comic Sans MS', cursive;font-weight: bold;
								 font-size:24px;" th:text=${nombreU}>alkjf</font>
	</label>

</div>
<div id="logo">
	<img th:src="@{img/logo_admin.png}" id="imagen" />
</div>
</body>
</html>