<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{estilos/visualizacioncss.css}" />
</head>
<body>
	<div >
		<header id="Cabecera"></header>
		<h1>HOLA A TODOS</h1> 
		<div th:each="titulo: ${titulos}">
		 <h1 th:text="${titulo}"></h1>
		</div>
		
	</div>
</body>
</html>