<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{estilos/PPI.css}"/>
</head>

<body>

	<div>
		<header id="Cabecera"></header>
	</div>
	
	<form name="formulario" th:action="@{/bienvenido}" th:object="${loggin}" method="post">
		<div id="Seccion">
			<div id="inputsection">

				<input type="password" id="contraseñal" th:field="*{pass}" required />
				<input type="text" id="nombrel" th:field="*{nombreU}"
					spellcheck="false" autocomplete="off"
					pattern="[a-zA-z]+([ '-][a-zA-Z]+)*" required />
			</div>
			<div id="logo">

				<img th:src="@{img/logo_usuario.png}" id="imagen" /> <select
					name="tipoUsuario" id="lista2" th:field="*{tipoUsuario}">
					<option th:value=0 selected>Estudiante</option>
					<option th:value=1>Administrador</option>
				</select>

			</div>
		</div>
		<div id="botones">
			<label for="n1" style="font-size: 35px;font:'Comic Sans MS', cursive;margin-top: 30px;" id="loginlabel">
				 <font color="#FFFFFF">Login</font>
			</label> <input type="submit" id="ingresar" class="boton" value="" /> 
			<a th:href="@{/registrarU}"><button type="button" id="registrarse" class="boton"></button></a>
		</div>
	</form>

</body>
<script th:src="@{scripts/loggin.js}"></script>
</html>