<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}">Document</title>
	<link rel="stylesheet" th:href="@{estilos/registrarclas.css}" />
</head>

<body>

	<div>
		<header id="Cabecera"></header>
	</div>
<form th:action="@{registrar/clasificado}" method="post" th:object="${clasificado}">
	<div id="Seccion">
		<textarea name="comentarios" spellcheck="false" rows="25" cols="82" autocomplete="off"
			placeholder="Escriba aqui el texto que tendra el clasificado" th:field="*{areaTexo}"></textarea>
	</div>

	<div id="Seccion2">
		<br>

		<label for="n1" style="font-size:18px;font:'Comic Sans MS', cursive">
			<font color="#000000">Facultad:</font>
		</label><br>

		<input type="checkbox" />

		<select th:field="*{facultad}" name="tipo facultad" id="facultad">

			<option value="Ciencias Sociales">Ciencias Sociales</option>
			<option value="Administracion">Administracion</option>
			<option value="Ciencias Agrarias">Ciencias Agrarias</option>
			<option value="Ingenieria">Ingenieria</option>
			<option value="Audio Visual">Audio Visual</option>

		</select>

		<br><br>
		<label for="n1" style="font-size:18px;font:'Comic Sans MS', cursive">
			<font color="#000000">Tecnologia:</font>
		</label><br>
		<input type="checkbox" />

		<select th:field="*{tecnologia}" name="tecnologia" id="tecnologia">

			
				<option value="Quimica Industrial">Quimica Industrial</option>
				<option value="Tecnologia Agraria">Tecnologia Agraria</option>
				<option value="Tecnologia Civil">Tecnologia Civil</option>
				<option value="Tecnologia T.I.T">Tecnologia T.I.T</option>
				<option value="Tecnolgia Informatica">Tecnolgia Informatica</option>
				<option value="Tec. Audio Visual">Tec. Audio Visual</option>

		</select>
		<br><br>
		<label for="n1" style="font-size:18px;font:'Comic Sans MS', cursive">
			<font color="#000000">Asignatura:</font>
		</label><br>
		<input type="checkbox" />

		<select th:field="*{asignatura}" name="materia" id="asignatura">

			<option value="Matematicas">Matematicas</option>
			<option value="Lengua Materna">Lengua Materna</option>
			<option value="Humanidades">Humanidades</option>
			<option value="Calculo Integral">Calculo Integral</option>
			<option value="Calculo Diferencial">Calculo Diferencial</option>
			<option value="Deportes y Arte">Deportes y Arte</option>
			<option value="Geometria">Geometria</option>

		</select>
		<br><br>
		<label for="n1" style="font-size:18px;font:'Comic Sans MS', cursive">
			<font color="#000000">Tiempo Limite:</font>
		</label><br>
		<input type="text" placeholder="2019-07-19" th:field="*{fechaLimite}" name="fecha" />
	</div>

	<div id="botones">

		<a th:href="@{/bienvenido}" for="n1" style="font-size:35px;font:'Comic Sans MS', cursive;" id="contrasenial"><font color="#FFFFFF"><u>Menu</u></font></a>
		
		<input type="submit" id="Visualizar" class="boton" name="accion" value="-"/>
		<input type="submit" id="registrar" class="boton" name="accion" value="--" onClick="alert('clasificado registrado con exito')"/>
		
	</div>
</form>
	<div id="logo">

	</div>
	
</body>
</html>