<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>aklsfj</title>
	<link rel="stylesheet" th:href="@{estilos/visualizacioncss.css}" />
</head>
<body>
	<header class="Cabecera">
<div id="section">

<label for="n1" style="font-size:20px;font:'Comic Sans MS;padd', cursive;margin-top: 5px;" id="label1" >
<font color="#000000" th:text="'Nombre:  '+ ${clasificado.nombre}"> </font></label><br>

<label for="n1" style="font-size:20px;font:'Comic Sans MS', cursive" id="label2" >
<font color="#000000" th:text="'Correo:  '+ ${clasificado.email}"></font></label><br>

<label for="n1" style="font-size:20px;font:'Comic Sans MS', cursive" id="label3" >
<font color="#000000" th:text="'N.Celular:  '+ ${clasificado.numCel}"></font></label>

</div>
<div>
<label for="n1" style="font-size:20px;font:'Comic Sans MS', cursive" id="label4" >
	<font color="#000000" th:text="'Facultad:  '+ ${clasificado.facultad}"></font></label><br>

<label for="n1" style="font-size:20px;font:'Comic Sans MS', cursive" id="label5" >
	<font color="#000000" th:text="'Tecnologia:  '+ ${clasificado.tecnologia}"></font></label><br>

<label for="n1" style="font-size:20px;font:'Comic Sans MS', cursive" id="label6" >
<font color="#000000" th:text="'Asignatura:  '+ ${clasificado.numCel}"></font></label>
</div>

</header>
<div class="CabeceraColor">
	<div th:style="|background-color: ${clasificado.facultadColor}|"></div>
	<div th:style="|background-color: ${clasificado.tecnologiaColor}|"></div>
	<div th:style="|background-color: ${clasificado.asignaturaColor}|"></div>
</div>
<div id="Seccion2">
 <textarea name="comentarios" disabled spellcheck="false" rows="25" cols="82" autocomplete="off" th:text="${clasificado.areaTexo}"> </textarea>
</div>

<div id="botenes">
<label for="n1" style="font-size:16px;font:'Comic Sans MS', cursive" id="label7"  >
<font color="#000000" th:text="'Publicacion:  '+ ${clasificado.publicacion}"></font></label>

<label for="n1" style="font-size:16px;font:'Comic Sans MS', cursive" id="label8"  >
<font color="#000000" th:text="'Fecha Limite:  '+ ${clasificado.fechaLimite}"></font></label>

</div>

</body>
</html>