<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{estilos/visualizacioncss.css}" />
</head>
<body>
	<h1 th:text="${titulo}">
    </h1>
</body>
</html>